/*super indice footer*/

.ind {
    vertical-align: super;
    font-size: smaller;
}

footer {
    color: white;
    text-align: center;
    font-weight: 300;
    background-image: radial-gradient(circle, black, rgb(82, 78, 78), rgb(119, 116, 116));
}