@import "variables";
@import "mixins";
@import "botones";
@import "logo";
@import "titulos";
@import "enlaces";
@import "footer";

/* fondo navegación*/
.aab-nav {
    background-color: white;
}

.centralIndex {
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.aab-contenedor-carousel {
    padding: 20px;
}

.aab-bg-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    border: 1px solid #bcbcbc;
}

.aab-tit-div1 {
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    border: 1px solid #bcbcbc;
    padding: 1%;
}

.aab-dolar {
    margin: 10px;
    padding: 10px;
}

.tituloPagNot {
    color: $color-principal;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    background-color: $color-secundario;
    margin: 10px;
}

.notice {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.aab-text-notice {

    h5,
    p {
        text-shadow: 2px 2px 4px #000;
    }
}

.cripto {
    margin: 0px;
    padding: 0px;
}

.cripto1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, $color-secundario, white);
    margin: 10px 20px 10px 20px;
    padding: 50px 0px 50px 0px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    border: 1px solid #bcbcbc;
}



/*párrafo qs*/

.parrQuienesSomos {
    text-align: justify;
    width: 100%;
}

/*tit qs*/

.titQuienesSomos {
    color: rgb(10, 5, 143);
    text-align: justify;
}

.qSdiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.textoRes {
    color: orangered;
    font-weight: bold;
}

/* cambia el tamaño del formulario*/

.anchoContacto {
    width: 100%;
}

@media (min-width: 768px) {
    .anchoContacto {
        padding-left: 25%;
        padding-right: 25%;
    }
}

/* fin cambia el tamaño del formulario*/

.centralContacto {
    color: white;
    font-size: larger;
    background-color: rgb(4, 4, 48);
    margin: 10px;
}

.formulario {
    text-align: center;
    padding: 50px;
}

.divNoticias {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.parrNoticias {
    color: white;
    font-weight: 100;
    text-align: justify;
    background-color: rgb(4, 4, 48);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.imagen-flotante {
    width: 15%;
    float: left;

    /* La imagen flotará a la izquierda del texto */
    padding: 10px;
}


.boton-contacto {
    text-align: center;
    display: flex;
    justify-content: center;

    /* Centrar horizontalmente */
    align-items: center;

    /* Centrar verticalmente */
    gap: 10px;
}